$("#answers").append(
        "<p><%= @answer.body %></p>" +
        '<p><%= link_to "Delete answer", answer_path(@answer), method: :delete %></p>' +
        '<p><%= link_to "Edit answer", edit_answer_path(@answer) %></p><hr>'
);
$("#answers h2").html(
 "<%= @question.answers.count %> answer(s):"
);

